n8n-workflow.json
{
  "name": "n8n Basics",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an advanced AI email triage assistant for a female computer science student specializing in Machine Learning, AI, and Software Engineering. Your objective is to filter noise while ensuring no critical academic, hackathon, or career opportunity is missed.\n\nAnalyze the following incoming email payload and generate a strictly valid JSON response.\n\n### EMAIL PAYLOAD\nFrom Name: {{ $json.senderName }}\nFrom Email: {{ $json.senderEmail }}\nSubject: {{ $json.subject }}\nDate: {{ $json.date }}\nSnippet: {{ $json.snippet }}\n\n### CRITICAL INCLUSION RULE (CRITICAL FOR HACKATHONS)\nYou MUST set \"shouldNotify\": true and classify as \"hackathon\" or \"opportunity\" if the email subject or snippet contains corporate campus innovation challenges, coding runways, or flagship hackathons targeting engineering students (e.g., \"WeForShe\", \"HackerRamp\", \"Hacker-ramp\", \"Tech Runway\", \"CodeAgility\", \"Campus Challenge\", \"Innovation Track\", \"Code With Us\", or similar corporate-sponsored talent hunts). \n\nEven if the email mentions \"Social Media Contest\", \"Promotional Launch\", or comes from a brand's marketing handle, if it links to a technical competition or registration track that offers cash prizes, certificates, or Pre-Placement Interviews (PPIs), it is an automatic TRUE.\n\n### CLASSIFICATION TAXONOMY\n- URGENT: Action required within 48 hours (e.g., interview scheduling, registration closing soon).\n- HIGH: Action required, but not immediate (e.g., flagship hackathons opening, internship registration).\n- MEDIUM: Informational but highly relevant (e.g., team formation updates, milestone reached).\n- LOW: Informational/Skimmable (e.g., tech newsletters, general community digests).\n\n### RULES FOR \"shouldNotify\"\n- Set to TRUE ONLY if the email requires a direct action, a response, or contains an opportunity for an internship, hackathon, tech competition, scholarship, or academic requirement.\n- Set to FALSE for rejections (with no next steps), pure marketing/promotional fluff (sales, discounts), general product update newsletters, or receipts.\n\n### OUTPUT FORMAT\nReturn ONLY a raw JSON object. Do not include conversational filler, markdown formatting blocks (like ```json), or trailing text. If a piece of data is missing or cannot be inferred, use null.\n\n{\n  \"shouldNotify\": false,\n  \"priority\": \"low\",\n  \"category\": \"other\",\n  \"summary\": \"String. Exact, concise description of the sender and core call-to-action. No generic phrases.\",\n  \"whyImportant\": \"String. Concrete impact statement detailing career/technical relevance (e.g., 'Flagship women-in-tech hackathon offering PPI opportunities with Myntra'). null if not important.\",\n  \"suggestedAction\": \"String. The immediate next physical or digital step the user must take.\",\n  \"deadlineOrTime\": \"String or null. ISO format YYYY-MM-DD if explicitly mentioned, otherwise raw string extract, null if none.\",\n  \"discordTitle\": \"String. Action-oriented title under 50 characters (e.g., '🔥 Myntra WeForShe Registration Open').\"\n}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -96,
        -336
      ],
      "id": "77c9adbe-fc1a-48c9-bf31-ee82b2e3c6fb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "maxTokensToSample": 800,
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -112,
        -144
      ],
      "id": "0648ddbc-cfa7-4e8a-8a9c-d0634bbeffd2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "sOmR4O5PDsCM4Sbw",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        -208
      ],
      "id": "cd2c77a7-3b69-438a-b268-46b7c1506267",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1518681460695892028/0d-TXrFlxVty2RW0Fh9qUcBc30jikPAfwx7CTfxpJfHuB9LW2Q1Y8MUTn2L6kHiZhGza",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"content\": `## 📅 UPDATE FOR:\n**DATE:** ${$now.setZone('Asia/Kolkata').toFormat('EEEE, MMMM dd, yyyy')}\n**TIME:** ${$now.setZone('Asia/Kolkata').toFormat('hh:mm a')}\n---\n📬 **${$json.ai?.discordTitle || 'No Title'}**\n**From:** ${$(\"Normalize Email\").item.json.senderName || 'Unknown'} <${$(\"Normalize Email\").item.json.senderEmail || 'Unknown'}>\n**Subject:** ${$(\"Normalize Email\").item.json.subject || 'No Subject'}\n**Priority:** ${$json.ai?.priority || 'low'}\n**Category:** ${$json.ai?.category || 'other'}\n\n**Summary:** ${$json.ai?.summary || 'No summary parsed.'}\n**Why it matters:** ${$json.ai?.whyImportant || 'N/A'}\n**Action:** ${$json.ai?.suggestedAction || 'N/A'}\n**Deadline:** ${$json.ai?.deadlineOrTime || 'None'}\n\n🔗 ${$(\"Normalize Email\").item.json.gmailLink || ''}`\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        -160
      ],
      "id": "a173a165-1d31-4dcb-8ec4-1c2d6aba5660",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function findHeader(headers, name) {\n  if (!headers) return '';\n  const header = headers.find(h => h.name?.toLowerCase() === name.toLowerCase());\n  return header?.value || '';\n}\n\nfunction extractSenderName(from) {\n  if (!from) return 'Unknown sender';\n  if (from.includes('<')) {\n    return from.split('<')[0].replace(/\"/g, '').trim() || 'Unknown sender';\n  }\n  return from;\n}\n\nfunction extractSenderEmail(from) {\n  const match = from.match(/<(.+?)>/);\n  if (match) return match[1];\n  return from;\n}\n\nconst json = $input.item.json;\nconst headers = json.payload?.headers || [];\n\nconst from = findHeader(headers, 'From') || '';\nconst subject = findHeader(headers, 'Subject') || 'No subject';\nconst date = findHeader(headers, 'Date') || '';\n\nconst messageId = json.id || '';\nconst gmailLink = messageId \n  ? `https://mail.google.com/mail/u/0/#inbox/${messageId}` \n  : '';\n\nreturn {\n  json: {\n    messageId,\n    senderName: extractSenderName(from),\n    senderEmail: extractSenderEmail(from),\n    subject,\n    date,\n    snippet: json.snippet || '',\n    gmailLink\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -384
      ],
      "id": "57c5a48e-65fa-4f21-97a7-62c649b2529d",
      "name": "Normalize Email"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const json = $input.item.json;\n\nconst raw = json.output || json.text || json.response || '';\n\nlet parsed;\n\ntry {\n  const cleaned = raw\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    shouldNotify: false,\n    priority: 'low',\n    category: 'other',\n    summary: raw.slice(0, 300),\n    whyImportant: 'AI parsing failed, review manually',\n    suggestedAction: 'Open email and check',\n    deadlineOrTime: null,\n    discordTitle: 'Email needs manual review'\n  };\n}\n\nreturn {\n  json: {\n    ...json,\n    ai: parsed\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -288
      ],
      "id": "f736751c-1b30-4650-b12b-a1042def9b27",
      "name": "Parse AI Result"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "includeSpamTrash": true,
          "receivedAfter": "={{$now.minus({hours:12}).toISO()}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -944,
        -160
      ],
      "id": "200c4b9a-8bbd-43fe-babe-532073a4df1e",
      "name": "Get many messages1",
      "webhookId": "19da5b07-76bf-4ac9-8178-752112173989",
      "credentials": {
        "gmailOAuth2": {
          "id": "APQOkaXnie1NSekG",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "includeSpamTrash": true,
          "receivedAfter": "={{$now.minus({hours:12}).toISO()}}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -960,
        -384
      ],
      "id": "c3390be2-e756-4e5a-99ea-8febd49f4028",
      "name": "Get many messages",
      "webhookId": "19da5b07-76bf-4ac9-8178-752112173989",
      "credentials": {
        "gmailOAuth2": {
          "id": "n5Nmbe0DCxc9cwOq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "18780453-08cc-40be-b672-5dfb6101e640",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1264,
        -272
      ],
      "id": "6b849989-7257-4d58-bf3d-44533f827b93",
      "name": "Webhook",
      "webhookId": "18780453-08cc-40be-b672-5dfb6101e640"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        96
      ],
      "id": "bc8a4696-e2dc-472f-ba5a-25742a954645",
      "name": "Wait",
      "webhookId": "bfd249d7-70b8-4568-9516-d902f75548f8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e93e81e-4e71-4b48-aef5-29f601ea495b",
              "leftValue": "$json.ai.shouldNotify",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -208
      ],
      "id": "26fec8e4-fa2f-40c6-8ed0-80c923a05e82",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        -288
      ],
      "id": "21cb557b-403f-46f1-b74b-1ea8169cba3f",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        528,
        160
      ],
      "id": "818150c4-29e4-4c1b-8103-4dc98d0243c0",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Result": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b5a26b40-5af7-487c-a404-5321e2045b6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b961653a0ae8e1512e2a2dacccfffa842223f5f1206a08070aa08a103ef05c15"
  },
  "id": "dcSS7XIejtGbkN2S",
  "tags": []
}